:root {
    --main-color: #03a9f5;
    --secondary-color: #ea1e63;
}

body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.bg-main {
    background-color: var(--main-color);
}
