.container {
    padding: 60px 0;
}

.row {
    display: inline-block;
    width: 1000px;
    margin: 0 calc((100% - 1000px) / 2);
}

.row-short {
    width: 600px;
    margin: 0 calc((100% - 600px) / 2);
}

.column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    float: left;
}
.column-right {
    width: 40%;
    margin-left: 10%;
}

@media (max-width: 1100px) {
    .row {
        width: 800px;
        margin: 0 calc((100% - 800px) / 2);
    }
}

@media (max-width: 900px) {
    .row {
        width: 600px;
        margin: 0 calc((100% - 600px) / 2);
    }
    .column {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 700px) {
    .row,
    .row-short {
        width: 400px;
        margin: 0 calc((100% - 400px) / 2);
    }
}

@media (max-width: 500px) {
    .container {
        padding: 40px 15px;
    }
    .row,
    .row-short {
        width: 100%;
        margin: 0;
    }
}
