/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* vendor */
@import '../vendor/font-awesome.min.css';
@import '../vendor/roboto.css';

/* components */
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/progress-bar.css';

/* CUSTOM CSS */

.hero {
    min-height: 100vh;
    background-image: url(../../img/background.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero > .row-short {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo {
    width: 100%;
    height: 50px;
    object-fit: contain;
}
.main-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 70px;
    letter-spacing: -5px;
    text-align: center;
    text-transform: uppercase;
}
.main-description {
    text-align: center;
    font-size: 20px;
}

.column-title {
    font-size: 20px;
    text-transform: uppercase;
}
.column-description {
    font-size: 17px;
    line-height: 1.7em;
    color: #777;
}
.column-description > a {
    color: var(--secondary-color);
    text-decoration: none;
}
.column-description > a:hover {
    text-decoration: underline;
}

footer.container {
    padding-top: 0;
}

.socials {
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    font-size: 20px;
    gap: 0.5em;
    border-bottom: 1px solid #fff;
}
.socials > a {
    width: 2.4em;
    height: 2.4em;
    line-height: 2.4em;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.3s;
}
.socials > a:hover {
    background-color: #fff;
    color: var(--main-color);
}
