/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* vendor */

/* components */
@import '../components/button.css';

/* CUSTOM CSS */

.hero {
    min-height: 100vh;
    background-color: yellow;
    background-image: url(../../img/background.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.hero > .row-short {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo {
    width: 100%;
    height: 50px;
    object-fit: contain;
}
.main-title {
    font-size: 70px;
    letter-spacing: -5px;
    text-align: center;
    text-transform: uppercase;
}
.main-description {
    text-align: center;
    font-size: 20px;
}
